.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box{
  height:60vh;
  width:40vw;
  color:white;
  border-radius: 20px;
  text-align: center;
  padding:122px;
  font-family: 'Franklin Gothic Medium';
  font-style: italic;
 
}